* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}



/* --------------navbar------------- */
nav {
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 10px grey;
    position: sticky;
    top: 0px;
    z-index: 10;

}

.container {
    width: 80%;
    /* border: 1px solid; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-bars {
    font-size: 36px;
    display: none;
    cursor: pointer;
}

.logo img {
    width: 100px;
    height: 100px;
}

.nav-ul {
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.nav-ul li {
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    position: relative;


}

.nav-ul li a {
    color: #000;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.nav-ul li:hover {
    color: #005959;

    background: #77acae;

}

.nav-ul li ul li a {
    color: #fff;

}

.nav-ul li ul {
    background: #005959;
    position: absolute;
    top: 42px;
    left: -3px;
    width: 100px;
    height: 0px;
    overflow: hidden;
    border-radius: 8px;

    text-align: center;
    transition-property: all;
    transition-duration: 1s;

}

.nav-ul li:hover ul {
    height: 160px;
    outline: 1px solid #77acae;
}

.nav-ul li:hover ul li {
    display: block;
    border-radius: 0px;
    outline: 1px solid #77acae;

}


.phone-number .fa-phone-alt {
    color: #fff;
    padding: 10px;
    background: #77acae;
    ;
    margin-right: 10px;
    border-radius: 50%;

}

.phone-number p a {
    text-decoration: none;
    color: #666;
    font-weight: 600;
}

.phone-number .link-2 {
    display: none;
}

/* ---------------main-------- */
.banner {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(12, 12, 12, 0.5));
    display: grid;
    place-items: center;
    /* padding-right: 2%; */

}

.banner h1 {
    color:#fff;
    line-height: 50px;
    font-weight: 900;
    font-size: 40px;
}

.banner-video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

/* .banner img {
    width: 100%;
} */

/* ----------------about-us--------- */
.about-us-container {
    width: 100%;
    padding-bottom: 100px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    background: url(./image/Ellipse-5.png);
    background-repeat: no-repeat;
    background-size: 100px 250px;
}

.about-us {
    margin-left: 20%;
}

.about-us h3 {
    margin-bottom: 20px;
    color: #77acae;
    font-size: 24px;
    font-weight: 600;

}

.about-us h1 {
    margin-bottom: 20px;
    color: #005959;
    font-weight: 700;

}

.about-us p {
    margin-bottom: 20px;
    line-height: 30px;
}

.about-us a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    background: #005959;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
    transition-property: all;
    transition-duration: 1.5s;
}

.about-us a:hover {
    color: #005959;
    background: #77acae;
}


.photo-1-1 img {
    width: 260px;
    height: 191px;
    border-radius: 8px;

}

.photo-1-2 img {
    width: 470px;
    height: 315px;
    border-radius: 8px;
}

/* ----------------services------------ */
.services {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #005959;
}

.services h1 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 10%;
}

.services h3 {
    margin-bottom: 20px;
    color: #77acae;
    font-size: 24px;
    font-weight: 600;
    margin-left: 10%;

}

.services-inner-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.services-inner-div {
    color: #fff;
    line-height: 30px;
}

.services-inner-div a {
    color: #fff;
    font-weight: 700;
}

.services-inner-div i {
    font-size: 30px;
}

.services-inner-div a i {
    font-size: 16px;
}

/* <!-- --------------- why-choose-us---------> */
.why-choose-us {
    width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
}

.why-choose-us-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.why-choose-us-photo {
    width: 500px;
    display: inline-block;
    flex-basis: 40%;

}

.why-choose-us-photo img {
    width: 100%;
    border-radius: 8px;
    height: 603px;
    object-fit: cover;
}

.why-choose-us-tex {
    flex-basis: 55%;
}

.why-choose-us-tex h3 {
    margin-bottom: 20px;
    color: #77acae;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
}

.why-choose-us-tex h1 {
    margin-bottom: 20px;
    color: #005959;
    font-weight: 700;
}

.why-choose-us-tex-card {
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.493);
    border-radius: 5px;
    margin-bottom: 20px;
}

.why-choose-us-tex-card h4 {
    color: #005959;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;

}

.why-choose-us-tex-card img {

    width: 40px;
    padding: 5px;
    background: #77acae;
    border-radius: 50%;
    position: relative;
    top: 13px;
    margin-right: 10px;
}

.why-choose-us-tex-card p {
    color: #666666;
}

/* ----------contact-us ---------*/
.contact-us {
    width: 100%;
    background: #005959;
    padding-top: 100px;
    padding-bottom: 100px;

}



.contact-inner-container {
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.contact-tex {
    flex-basis: 45%;
}

.contact-tex h3 {
    font-size: 24px;
    color: #77acae;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact-tex h1 {

    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-tex p {
    color: #fff;
    line-height: 30px;

}

.contact-message {
    flex-basis: 45%;
}

.contact-message h4 {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-message input[type="text"],
input[type="email"] {
    width: 80%;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    outline: none;
    /* border: 3px solid #77acae; */
    border: none;


}

.contact-message textarea {
    resize: none;
    padding: 10px;
    outline: none;
    border: 2px solid #77acae;
    border-radius: 8px;
    margin-bottom: 20px;

}

.contact-message input[type="submit"] {
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    background: #77acae;
    color: #fff;
    font-weight: 700;
    border: none;

}

.contact-message input[type="submit"]:hover {
    background: #fff;
    color: #77acae;
}

/* ------------------book-online-------------------------- */
.book-online {
    width: 100%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.438)), url(/image/panoramic-shot-of-smiling-physiotherapist-with-diagnosis-near-patient-in-hospital.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 152px;
    padding-bottom: 100px;

}

.book-online-text {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #fff;
    line-height: 40px;
}

.book-online-text a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    background: #fff;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 50px;
    color: #77acae;
}

.book-online-text a:hover {
    background: #77acae;
    color: #fff;
}

/*---------------------- blog-post ---------------*/
.blog-post {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.blog-post h3 {
    font-size: 24px;
    color: #77acae;
    font-weight: 600;

}

.blog-post h1 {

    color: #005959;
    font-weight: 700;
    margin-bottom: 20px;
}

.blog-post-inner-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 45px;

}

.blog-post-div img {
    width: 170px;
    height: 140px;
    border-radius: 5px;
    object-fit: cover;



}

.blog-post-div {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.blog-post-text {

    text-align: left;

}

.blog-post-text h4 {
    margin-bottom: 20px;
}

.blog-post-text a {
    display: block;
    margin-top: 20px;
    font-weight: 700;
    color: #005959;
}

/* -----------------footer ------------- */
footer {
    width: 100%;
    background: #005959;
    padding-top: 50px;
}

footer hr {
    margin: auto;
    width: 90%;
    border: 1px solid #77acae;
}

.footer-inner-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;

}

.footer-inner-container h4 {
    color: #fff;
}

.footer-inner-container li {
    list-style: none;
    line-height: 30px;
    color: #fff;
}

.footer-inner-container li a {
    text-decoration: none;
    color: #fff;
}

.contact-info {
    line-height: 25px;
}

.contact-info {
    color: #fff;
}

.contact-info a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;

}

.appointment {
    color: #fff;
}

.appointment a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background: #77acae;
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 8px;
}

.appointment a:hover {
    color: #77acae;
    background: #fff;
}

.copy-right {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.copy-right img {
    width: 100px;
}

.copy-right h6 {
    color: #fff;
}

/* -------------Moblie version css for index.html-------- */



/* ================================About us page css=====================
========================================================================== */


/* <!---------------- about page banner---------------------------- --> */

.about-page-banner {
    width: 100%;
    height: 80vh;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.65)), url(/image/senior-man-in-nursing-home-doing-physiotherapy.jpeg);
    background-position-y: -247px;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page-baner-innercontainer h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
}

/* <!----------- Feel The Body Adjustment----------- --> */

.feel {
    width: 100%;
    padding-bottom: 30px;
}

.feel-innercontainer {
    width: 100%;
    height: 60vh;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.65)), url(/image/physiotherapist-massaging-back-of-man-lying-on-massage-table-in-hospital.jpeg);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feel-innercontainer>div {
    width: 50%;
    text-align: center;
    color: #fff;
}

.professional-staff {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    top: -52px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
}

.professional-staff>div {
    text-align: center;
}

.professional-staff>div>i {
    font-size: 30px;
    color: #77acae;
}

.professional-staff>div>h4 {
    font-weight: 800;
    color: #005959;
    font-size: 22px;
}



/* <!----------------------- Our Therapist------------------- --> */
.our-therapist {
    width: 100%;
    height: 90vh;
    text-align: center;
    line-height: 30px;
}

.our-therapist>h3 {
    color: #77acae;
}

.our-therapist>h1 {
    color: #005959;
}

.our-therapist>p {
    margin-bottom: 30px;
}


.our-therapist-img {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.our-therapist-img>div {
    flex-basis: 30%;
    height: 350px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.our-therapist-img>div>div {
    padding: 10px;
    background: #fff;
    width: 80%;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;



}

.our-therapist-img>div>div>h2 {
    color: #005959;
    font-weight: 700;

}

.our-therapist-img>div:first-child {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(/image/0e298b2da1c0dc758c15423ca306dbff.jpeg);

    background-size: cover;
}

.our-therapist-img>div:nth-child(2) {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(/image/9c1aadc4a93d02995d92fe9725330e04.jpeg);
    background-size: cover;
}

.our-therapist-img>div:last-child {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(/image/5266fc282326622258669a735d9097d6.jpeg);
    background-size: cover;
}

.our-therapist-img>div>img {
    width: 100%;
    object-fit: cover;
}

.social-logo {
    display: flex;
    justify-content: space-evenly;
}

.social-logo a {
    padding: 10px;
    border-radius: 50%;
    background: #fff;
    display: block;
    color: #77acae;
}


/* ===============================Services page css=====================
========================================================================== */

/* <!--  --------------service banner --> */

.service-banner {
    width: 100%;
    height: 60vh;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url(/image/c7a17f0f132115f562e9896169f0a8fd.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-banner h1 {
    color: #fff;
}