* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}



/* --------------navbar------------- */
nav {
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 10px grey;
    position: fixed;
    top: 0px;
    z-index: 10;
    /* border: 1px solid; */

}

.container {
    width: 80%;
    /* border: 1px solid; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 100px;
    height: 100px;
}

ul.nav-ul {
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.nav-ul li {
    list-style: none;
    /* margin-right: 16px; */


}

ul.nav-ul li a {
    color: #000;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

ul.nav-ul li a:hover {
    color: #005959;
}

.phone-number .fa-phone-alt {
    color: #fff;
    padding: 10px;
    background: #77acae;
    ;
    margin-right: 10px;
    border-radius: 50%;

}

.phone-number p a {
    text-decoration: none;
    color: #666;
    font-weight: 600;
}

/* ---------------main-------- */
.banner {
    width: 100%;

    padding-right: 2%;

}

.banner img {
    width: 100%;
}

.about-us-container {
    position: relative;
}

.image-shape_10 {
    position: absolute;
    right: 74%;
}

.image-shape_10 img {
    width: 342px;
}

.Ellipse-5 {
    position: absolute;
    right: 92%;
    top: 34px;
}

.Ellipse-5 img {
    width: 221px;

}

.about-us {
    width: 35%;
    position: absolute;
    top: 144px;
    left: 13%;
}

.about-us h3 {
    font-size: 24px;
    color: #77acae;
    font-weight: 600;
}

.about-us h1 {
    font-size: 31px;
    color: #005959;
    font-weight: 700;
}

.about-us p {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 26px;
    color: #666666;
}

.about-us .button {
    margin-bottom: 20px;
    margin-top: 25px;
}

.about-us .button a {
    text-decoration: none;
    border-radius: 5px;
    font-weight: 400;
    padding: 10px 20px;
    background: #005959;
    margin-right: 10px;

    color: #fff;
}
.about-us .button a:hover{
    color:#fff ;
    background:#77acae ;

}

.photo-1-1 {
    position: absolute;
    left: 46%;
    top: 112px;
}

.photo-1-1 img {
    width: 260px;
    height: 191px;
    border-radius: 8px;
}

.photo-1-2 {
    position: absolute;
    top: 332px;
    left: 51%;
}

.photo-1-2 img {
    width: 470px;
    height: 315px;
    border-radius: 8px;
}

.services-container {

    background: #005959;
    color: #fff;

    width: 100%;
    /* max-width: 1920px; */


    position: relative;
    top: 809px;
    border: 1px solid;


}

.services-container h3 {
    margin-left: 11%;
    margin-top: 130px;
    margin-bottom: 20px;
}

.services-container h1 {
    margin-left: 11%;
    margin-bottom: 20px;
   
   
}
body{
    overflow-x: hidden;
}

.services {
    /* color: #fff; */
    width: 80%;
    margin: auto;
    margin-bottom: 130px;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-basis {
    flex-basis: 30%;
    padding: 10px;
}
.flex-basis h4{
    margin-bottom: 20px;
}
.flex-basis a{
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 20px;
}
.fa-bone-break{
    font-size: 35px;
    margin-bottom: 20px;
}
.fa-capsules{
    font-size: 35px;
    margin-bottom: 20px;
}
.fa-running{
    font-size: 35px;
    margin-bottom: 20px;
}

.ellipse-6 {
    position: absolute;
    left: 80%;
    top: 483px;
}

.ellipse-6 img {
    width: 362px;
}


/* <!-- --------------- why-choose-us---------> */
.why-choose-us {
    width: 100%;
    position: relative;
    top: 708px;
    padding-bottom: 100px;
    /* background: #666; */
    padding-top: 100px;
}
.why-choose-us-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.why-choose-us-photo {
    width: 500px;
    display: inline-block;
    flex-basis: 40%;
    
}
.why-choose-us-photo img{
    width: 100%;
    border-radius: 8px;
    height: 603px;
}
.why-choose-us-tex{
    flex-basis: 55%;
}
.why-choose-us-tex h3{
    margin-bottom: 20px;
    color: #77acae;
    font-size: 24px;
    font-weight: 600;
    
}
.why-choose-us-tex h1{
    margin-bottom: 20px;
    color: #005959; 
    font-weight: 700;
}
.why-choose-us-tex-card{
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.493);
    border-radius: 5px;
    margin-bottom: 20px;
}
.why-choose-us-tex-card h4{
    color: #005959;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;

}
.why-choose-us-tex-card img{
    
    width: 40px;
    padding: 5px;
    background: #77acae;
    border-radius: 50%;
    position: relative;
    top: 13px;
    margin-right: 10px;
}
.why-choose-us-tex-card p{
    color: #666666;
}
/* ----------contact-us ---------*/
.contact-us {
    width: 100%;
    height: 500px;
   background: #005959;
    position: relative;
    top: 707px;
    left: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact-us img{
    position: absolute;
    width: 1000px;

    bottom: 0px;
    left: 0px;
}

.contact-inner-container{
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.contact-tex{
    flex-basis: 45%;
}
.contact-tex h3{
    font-size: 24px;
    color: #77acae;
    font-weight: 600;
    margin-bottom: 20px;
}
.contact-tex h1{
   
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}
.contact-tex p{
    color: #fff;
    line-height: 30px;

}
.contact-message{
    flex-basis: 45%;
}
.contact-message h4{
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}
.contact-message input[type="text"] ,input[type="email"]{
    width: 80%;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    outline: none;
    /* border: 3px solid #77acae; */
    border: none;

}

.contact-message textarea{
    resize: none;
    padding: 10px;
    outline: none;
    border: 2px solid #77acae;
    border-radius: 8px;
    margin-bottom: 20px;

}
.contact-message input[type="submit"]{
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    background: #77acae;
    color: #fff;
    font-weight: 400;
    border: none;
}

